* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 10%;
    background-color: #1f2937;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    padding: 32px 10%;
    background-color: #1f2937;
}

.header > * {
    flex: 1;
}

.header .box {
    color: #f9faf8;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header-left > * {
    margin-bottom: 4px;
}

.header-left .hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-left .sub {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 40px;
    border-radius: 4px;
}

.info > .text {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 32px;
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card > .text {
    width: 175px;
    color: grey;
    text-align: center;
}

.card > .box {
    height: 175px;
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}