* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: #1f2937;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    flex: 3;
    align-items: center;
    gap: 40px;
    padding: 32px;
}

.header > * {
    flex: 0 1 450px;
    min-height: 225px;
}

.header .box {
    color: #f9faf8;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header-left > * {
    margin-bottom: 4px;
}

.header-left .hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-left .sub {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.info > .text {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card > .text {
    width: 175px;
    color: grey;
    text-align: center;
}

.card > .box {
    height: 175px;
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
    padding: 32px;
}

.quote .text{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    width: 800px;
}

.quote .attribution {
    color: #1f2937;
    font-size: 24px;
    width: 800px;
    text-align: right;
    font-weight: 900;
}

.hook {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 32px;
}

.hook-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    border-radius: 16px;
    color: #f9faf8;
    gap: 100px;
    flex-shrink: 0;
}

.hook-left .text {
    font-size: 24px;
}

.hook-left .subtext {
    font-size: 18px;
}

.hook button {
    border: 4px solid #f9faf8;
}

.footer {
    text-align: center;
    padding: 32px;
    background-color: #1f2937;
    color: #e5e7eb;
}